PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_DB=gamification
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=auser@example.com
SMTP_PASSWROD=userpassword
SMTP_AUTH=true
SMTP_TLS_ENABLE=true
APP_SECRET=41694712fe22fda5259f813faada80024cd3316e824177e2d610140f81c87fa47795ae0b
DOMAIN_NAME=example.com
